.idea/*
kanColleWidget.iml
build/*
test/src/*
.DS_Store
!*.gitkeep
.projectile
TAGS
GPATH
GRTAGS
GTAGS
node_modules/*
src/js/AppConfig.js

# TypeScript
typescript/build
typescript/bower_components
typescript/node_modules
